.navbar{
    background-color: orange;
    border-radius: 20px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;

    /* THis is used to remove the BULLETS */
    list-style: none;

    margin: 19px 20px;

   
}

.navbar li a:hover{
    color: rgb(206, 206, 206);

}
.navbar li a:active{
    color: rgb(102, 101, 101);
}

.navbar li a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px 20px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
   



}

.search input
{
    padding: 5px 11px;
    border-radius: 15px;
    margin: 19px 60px;
    float: right;
 background-color: rgb(243, 240, 240);
    color: rgb(0, 0, 0);
    width: 153px;
    
}
.search ::placeholder{
    color: rgb(0, 0, 0);
    text-align:justify;
    padding-left: 10px;

}


